services:
  samples:
    image: samples:${VERSION}
    volumes:
      - ./mediamtx.yml:/mediamtx.yml:ro
    container_name: ${CONTAINER_NAME}
    hostname: ${CONTAINER_NAME}
    restart: unless-stopped
    ports:
      - "9554:8554"          # RTSP
      - "9322:8888"          # RTSP over HTTP
      - "9000:8000/udp"      # RTP
      - "9001:8001/udp"      # RTCP
    networks:
      - octo-cx-network

networks:
  octo-cx-network:
    external: true