services:
  autostream:
    image: ${CONTAINER_NAME}:${VERSION}
    volumes:
      - ./mediamtx.yml:/app/mediamtx.yml
      - ./videos:/app/videos:ro
    container_name: ${CONTAINER_NAME}
    hostname: ${CONTAINER_NAME}
    restart: unless-stopped
    stop_grace_period: 1s
    environment:
      - MEDIAMTX_RTSP_PORT=${MEDIAMTX_RTSP_PORT}
      - CONTAINER_NAME=${CONTAINER_NAME}
      - LOG_LEVEL=${LOG_LEVEL}
    ports:
      - "9554:${MEDIAMTX_RTSP_PORT}"    # RTSP
      - "9322:8888"                      # RTSP over HTTP
      - "9000:8000/udp"                  # RTP
      - "9001:8001/udp"                  # RTCP
    networks:
      - octo-cx-network

networks:
  octo-cx-network:
    external: true