services:
  samples:
    image: samples:${VERSION}
    volumes:
      - ./mediamtx.yml:/mediamtx.yml:ro
    container_name: ${CONTAINER_NAME}
    hostname: ${CONTAINER_NAME}
    restart: unless-stopped
    ports:
      - "${RTSP_PORT}:8554"          # RTSP
      - "${RTSP_HTTP_PORT}:8888"     # RTSP over HTTP
      - "${RTP_PORT}:8000/udp"       # RTP
      - "${RTCP_PORT}:8001/udp"      # RTCP
    networks:
      - octo-cx-network

networks:
  octo-cx-network:
    external: true